<!--Keith's code-->
{% extends "base.html" %}

{% block content %}

<!--profile page start-->
<div class="container-fluid">

    <!--Profile header-->
    <div class="jumbotron jumbo2">
        <i class="fa-solid fa-user fa-5x"></i>
        {% if current_user.is_authenticated %}
        <h1>{{ current_user.username }}</h1>
        {% endif %}
        <h3>Account Type: ({{ current_user.accountType }})</h3>
        <h3>Income: ${{ current_user.income }}</h3>
    </div>

    <!--user details-->

    <!--New Form for updating user detail-->
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <!--update username-->
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!--update income-->
            <div class="form-group">
                {{ form.income.label(class="form-control-label") }}
                {{ form.income(class="form-control form-control-lg") }}
            </div>

        </fieldset>

        <!--confirm changes-->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>
    </form>

</div>
<!--profile page end-->

{% endblock %}
