<!--Inherits base page (nav)-->
{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center home">
    <div class="col1">
        <h1>Bread Builder<br>Budgeting<br>Application</h1>
        <h4>Our aim is to take away the stress of everyday finance from young adults. Sign up today or use our online
            finance tools!</h4>
    </div>
    <div class="col2">
        <img src="static/images/book.png" class="book">
    </div>
</div>

{% endblock %}